.contact-container {
    width: 100%;
    height: 10%;
    background-color: rgb(146, 146, 146);

}

.contact-grid {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
}

.contact-grid > a {
    width: 100px;
    height: 100px;
    margin: 40px;
    opacity: 0.6;
    background-position: center;
    background-size: contain;
}

.contact-grid > a:hover {
    opacity: 1;
}

.grid-github {
    background-image: url('../img/github.png')
}
.grid-linkedin {
    background-image: url('../img/linkedin.png')
}