.tech-container {
    width: 100%;
    height: 40%;
    filter: grayscale(30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-grid {
    margin: 30px;
    height: 60%;
    width:70vw;
    max-width: 700px;
    grid-template-columns: auto auto auto;
    display: grid;
    justify-content: space-between;
}

.tech-grid > * {
    width: 10vh;
    height: 10vh;
    background-position: center;
    background-size: contain;
}
.grid-vue {
    background-image: url('../img/vue.png')
}
.grid-kotlin {
    background-image: url('../img/kotlin.png');
    width: 9vh;
    height: 9vh;
    margin: 1vh;
}
.grid-spring {
    background-image: url('../img/spring.png');
    width: 9vh;
    height: 9vh;
    margin: 1vh;
}
.grid-express {
    width: 20vh;
    height: 9vh;
    grid-column: 1/3;
    background-image: url('../img/express.png');

}
.grid-bootstrap {
    background-image: url('../img/bootstrap.jpg')
}
.grid-mongodb {
    background-image: url('../img/mongodb.jpg')
}
.grid-plsql {
    background-image: url('../img/plsql.png')
}
.grid-node {
    background-image: url('../img/node.jpg');
    width: 9vh;
    height: 9vh;
    margin: 1vh;
}